# Build output
**/bin/
**/obj/
/src/Sponsorship.API/obj
/src/Sponsorship.Application/obj
/src/Sponsorship.Infrastructure/obj
/src/Sponsorship.Infrastructure/obj
/src/Sponsorship.Infrastructure/bin
/.vs
/src/Sponsorship.API/obj
