# Build output
**/bin/
**/obj/
/.vs
/src/Sponsorship.API/obj
/src/Sponsorship.API/bin
/src/Sponsorship.Application/obj
/src/Sponsorship.Application/bin
/src/Sponsorship.Infrastructure/obj
/src/Sponsorship.Infrastructure/bin


